<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mask.demo.dao.produce.ProduceRecordDetailMapper">

    <resultMap id="BaseResultMap" type="com.mask.demo.model.produce.ProduceRecordDetail">
        <id column="id" property="id" />
        <result column="produce_record_id" property="produceRecordId" />
        <result column="product_id" property="productId" />
        <result column="number" property="number" />
    </resultMap>

    <sql id="Base_Column_List">
        ID, 
        produce_record_id, 
        product_id, 
        number
    </sql>

    <!-- 根据生产日报id，查询生产日报明细 -->
    <select id="listByProduceRecordId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_produce_record_detail
        WHERE produce_record_id = #{produceRecordId}
    </select>

    <!-- 添加生产记录 -->
    <insert id="insertProduceRecordDetail" useGeneratedKeys="true" keyProperty="id" parameterType="com.mask.demo.model.produce.ProduceRecordDetail">
        insert into t_produce_record_detail (
              produce_record_id,
              product_id,
              number
        )
        values (
             #{produceRecordId},
             #{productId},
             #{number}
        )
    </insert>

    <!-- 修改生产记录 -->
    <update id="updateProduceRecordDetail" parameterType="com.mask.demo.model.produce.ProduceRecordDetail">
        update t_produce_record_detail
        <set>
            <if test="productId != null">
                product_id = #{productId},
            </if>
            <if test="number != null">
                number = #{number},
            </if>
        </set>
        where ID = #{id}
    </update>
</mapper>